<%- include('../partials/header.ejs')  %> 

<h1 class="text-center mt-3 mb-5" >404 Oops! page is not found  :)</h1>
<%- include('../partials/navbar.ejs') %>
    
    <%- include('../partials/footer.ejs') %>