<%- include('../partials/header.ejs') %>
    <h1 class="text-center mt-3">ADD USER </h1>
    <%- include('../partials/navbar.ejs') %>

    <form action="/create" method="post">
        <div class="container mt-5">
        <div class="form-floating mb-3">
            <input type="text" class="form-control"  name="name" placeholder=" "   id="validationDefaultUsername"  required>
            <label >Name</label>
          </div>
          <div class="form-floating">
            <input type="number" class="form-control mb-3"  name="age" placeholder=" " min="7" max="100"  id="validationDefaultUsername"  required>
            <label >Age</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control"  name="phone" placeholder=" " min="11" max="11"  id="validationDefaultUsername"  required>
            <label >phone</label>
          </div>

          <div class="form-floating">
            <input type="number" class="form-control" id= name="score" min="0" max="100" placeholder=" "  >
            <label >Score</label>
          </div>
    
          <div>
              <button class="btn mt-5 bg-primary text-light" name="submit" type="submit">Confirm</button>
          </div>
        </div>
    </form>

    <%- include('../partials/footer.ejs') %>